:root{
    --primary-color:rgb(240,240,240);
    --secondary-color:rgb(100, 255, 100);
  }
  
  li{
    list-style-type: none;
  }
  
  body{
    background-color:var(--primary-color);
    font-family: sans-serif;
  }
  
  #header{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #nav-bar ul{
    width: 35vw;
    font-size:1.2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  #nav-bar li{
    margin: 0 10px;
  }
  
  #mailing-list{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
  }
  #mailing-list input, #mailing-list h2{
    display:block;
    margin: 1vw auto;
  }
  #email{
    width:300px;
    height:30px;
  }
  #submit{
    font-size:1.5rem;
    width:100px;
    height:40px;
    background-color:var(--secondary-color);
  }
  
  #qualities{
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .quality{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    box-sizing: border-box;
  
  }
  
  .icon{
    font-size: 3rem;
    margin: auto 0;
  
  }
  
  .q-desc{
    width: 70%;
    margin:0;
  }